/*======================================


Universal Styling

======================================*/

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
 }

 @font-face {
   font-family: 'Kingdom';
   src: url('../fonts/royale_kingdom/Kingdom.otf') format('opentype') ;
 }

body {
  background: #f2f2f2;
  font-family: 'Crimson Text', serif;
  text-transform: capitalize;

}

section.info {
    display: block;
    margin: auto;
    width: 75%;
    text-align: center;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 64px;
  margin: 0 auto;
  text-align: center;
}

.music {
  color:#826d33;

}

h2 {
  font-family:'Kingdom', fantasy;
  font-size: 32px;
  letter-spacing: .05em;
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 735px 10px 10px 470px;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 23px;
}


/*======================================


Menu Styling

======================================*/


.menu {
    background: #3c3c3c;
    position: fixed;
    width: 100%;
    z-index:999;
}


.menu ul li {
  display: inline-block;
  background: #3c3c3c;
  width: 33%;
  margin-bottom: 1px;
  vertical-align: top;


}

.menu ul li a {
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 33px;
  padding: 15px;

}

.menu ul li a:hover {
  color:yellow;

}

.title {
  color: white;
  display: block;
  padding: 15px;
  font-family: 'Kingdom', fantasy;
  font-size: 39px;
  width: 39%;
  text-align: center;

}

/*======================================


Body and Animation Styling

======================================*/

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 113px;
}

section.anim {
  display: block;
  position: relative;
  left: 150px;
  top: -497px;
}

.frames {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top {
  position: absolute;
  top: 630px;
  left: auto;
  right: auto;
  animation: hop 5s .5s ease-in-out infinite;
}

.middle-left {
  position: absolute;
  top: 630px;
  left: auto;
  right: auto;
  animation: hop 5s 2s ease-in-out infinite;
}

.middle-right {
  position: absolute;
  top: 630px;
  left: auto;
  right: auto;
  animation: hop 5s 1.2s ease-in-out infinite;
}

.bottom-left {
  position: absolute;
  top: 641px;
  left: auto;
  right: auto;
  animation: hop 5s 3.3s ease-in-out infinite;
}

.bottom-right {
  position: absolute;
  top: 630px;
  left: auto;
  right: auto;
  animation: hop 5s 3.8s ease-in-out infinite;
}

.kairi {
  position: absolute;
  top: 315px;
  left: auto;
  right: auto;

}

@keyframes hop {
  0% {
    top:630px;
  }
  50% {
    top:650px;
  }
  100% {
    top:630px;
  }
}
