/*======================================


Universal Styling

======================================*/

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
 }

 @font-face {
   font-family: 'Kingdom';
   src: url('../fonts/royale_kingdom/Kingdom.otf') format('opentype') ;
 }

body {
  background: #f2f2f2;
  font-family: 'Crimson Text', serif;
  text-transform: capitalize;

}


/*======================================


Menu Styling

======================================*/


.menu {
    background: #3c3c3c;
    position: fixed;
    width: 100%;
}


.menu ul li {
  display: inline-block;
  background: #3c3c3c;
  width: 33%;
  margin-bottom: 1px;
  vertical-align: top;


}

.menu ul li a {
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 33px;
  padding: 15px;

}

.menu ul li a:hover {
  color:yellow;

}

.title {
  color: white;
  display: block;
  padding: 15px;
  font-family: 'Kingdom', fantasy;
  font-size: 39px;
  width: 39%;
  text-align: center;

}

/*======================================


Body Styling

======================================*/

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 70px;
}
